html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #fffdfa;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Corpo da página  */

#main {
  transition:  margin-left .5s;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
/* Skills */
#skills {
  font-family: 'Syne', sans-serif;
  font-size: 30px;
  text-indent: initial;
}

#skills h1 {
  font-family: 'Elsie', cursive;
  text-align: center;
  font-size: 70px;
}

/* Projects */

#projects h1 {
  font-family: 'Elsie', cursive;
  text-align: center;
  font-size: 70px;
}

#projects {
  font-family: 'Syne', sans-serif;
  font-size: 30px;
  padding: 2px;
}
/* About */
#about h1 {
  font-family: 'Elsie', cursive;
  text-align: center;
  font-size: 70px;
}

#about p {
  font-family: 'Syne', sans-serif;
  font-size: 30px;
  padding: 2px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Fontes */

.zighead {
  font-family: 'Elsie', cursive;
  text-align: center;
  font-size: 100px;
}

.syne {
  font-family: 'Syne', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

/* Links */

.trybe {
  text-decoration: none;
  color: #98ce00;
}


#progress {
  background-color: #03cc65;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #fffdfa;
  border-radius: 50%;
  display: grid;
  place-items: center;
}